body {
    font-family: Georgia, 'Nimbus Roman No9 L', 'Century Schoolbook L', serif;
    background-image: url("library.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#box {
      background-color:#cccccc;
      margin: 10px;
      width: 80%;
      text-align: left;
      font-size: 20px;
      padding: 7px;
      position: relative;
      justify-content: space-evenly;
      border:10px;
      border-color: rgb(51, 14, 2)
}

button {
    height: 30px;
    width: 60px;
    border-radius: 10%;
    background-color: rgb(100, 14, 2);
    -webkit-text-fill-color: white;
}

#form {
      width: 30%;
      margin-left: 10%;
      margin-top: 10%;
      margin-bottom: 10%;
      color: white;
      background-color: rgb(51, 14, 2);
      padding: 20px;
      
}

td, th {
    width: 180px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-evenly;
    width: 100px;
}
  
.gridsquare {
    border: 2px solid #04090e; 
    position: relative;
    top: 0; left: 0;
    height: 10px;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#heading {
    background-color: tomato;
}
  